<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>LAB3</display-name>
  <servlet>
    <servlet-name>reg</servlet-name>
    <servlet-class>ua.dnu.ivlev.child_cosmetic.Reg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reg</servlet-name>
    <url-pattern>/regServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>log</servlet-name>
    <servlet-class>ua.dnu.ivlev.child_cosmetic.Log</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>log</servlet-name>
    <url-pattern>/logServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminUsers</servlet-name>
    <servlet-class>ua.dnu.ivlev.child_cosmetic.AdminUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUsers</servlet-name>
    <url-pattern>/AdminUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminCountryDirectory</servlet-name>
    <servlet-class>ua.dnu.ivlev.child_cosmetic.AdminCountryDirectory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCountryDirectory</servlet-name>
    <url-pattern>/AdminCountryDirectoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminManufacturer</servlet-name>
    <servlet-class>ua.dnu.ivlev.child_cosmetic.AdminManufacturer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminManufacturer</servlet-name>
    <url-pattern>/AdminManufacturerServlet</url-pattern>
  </servlet-mapping>
 <servlet>
    <servlet-name>AdminProductData</servlet-name>
    <servlet-class>ua.dnu.ivlev.child_cosmetic.AdminProductData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProductData</servlet-name>
    <url-pattern>/AdminProductDataServlet</url-pattern>
  </servlet-mapping>
</web-app>